body {
  background: linear-gradient(to bottom, #000000, #333333, #368b36);
  text-align: center;
  color: whitesmoke;
  margin: 0;
  flex: auto;
  justify-content: center;
}

.container {
  text-align: center;
}

/* Navbar styling */
.headstyle {
  background-image: linear-gradient(to right, #354555, hsl(145, 81%, 53%));
  display: flex;
  position: fixed;
  justify-content: space-evenly;
  padding: 20px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  flex-direction: row;
  margin-top: 0px ;

}

img {
object-fit: cover;

}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
  }
  
  h1 {
  background-image: linear-gradient(to right, #354555, hsl(145, 81%, 53%));
  background-size: 200% auto;
  animation: rainbow 2s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

h2 {
  background-image: linear-gradient(to right, #354555, hsl(145, 81%, 53%));
  width: 100%;
}

  /* Footer Styling */
.footer {
  background-image: linear-gradient(to right, #2c3e50, hsl(145, 81%, 53%));
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  left: 0;
}

.footerinfo {
  text-align: left;
}

.footercontact {
  text-align: right;
}

.footer a {
  color: #ffd97f;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline; 
}